body {
  margin: 0;
  font-family: 'BodoniMT';
  background-color: #0c0b0b;
  color: #f0f0f0;
  overflow: hidden;
}

h1, h2, h3 {
  color: #287ae6;
  text-shadow: 0 0 8px #8f00ff;
}

a {
  color: #00ffff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}